body{
  font-family: 'Poppins', sans-serif;
}
.catimg{
  /* border: 1px solid black; */
  /* padding: 40px 30px; */
  border-radius: 10px 0px 30px 0px;
  box-shadow: 5px 5px 15px lightgray;
}
.catheader h3{
 position: relative;
  /* padding: 20px; */
}
.catheader h3::after{
  content: "";
  height: 8px;
  width: 35%;
  background-color: orange;
  position: absolute;
  left: 32%;
  bottom: 0;
  top: 120%;
  border-radius: 20px;
}